@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: #FFCCE7;
  font-family: 'Press Start 2p';
}

h1, h2 {
  color: #E01AD7;
  text-align: center;
}

h4 {
  margin-top: 0em;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.main-content {
  margin: auto;
  text-align: center; 
}

.account-block {
  margin: auto;
  display: inline-block;
}

.user-form {
  text-align: left;
}

.input-field {
  width: 99%;
}

.game-display {
  display:inline-block;
  padding: 0 1em 0 1em;
}

.game-content {
  text-align: center;
}

.game-data {
  display:inline-block;
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
}

.notification-bar {
  padding-top: 1em;
  text-align: center;
  height: 1em;
  color: coral;
}

.instruction-block { 
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0em;
  padding: 0;
  font-size: 0.8em;
}

li {
  line-height: 1.5em;
}

.quote {
  font-size: 0.8em;
  text-align: center;
  padding-top: 1em; 
}

#thebutton {
  display:inline-block;
  height: 7em;
  width: 7em;
  background-color: purple;
  border-radius: 50%;
  margin: 1em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-weight: bold;
  font-family: 'Press Start 2p';
  color: #FFCCE7;
}

.normal-button {
  display:inline-block;
  height: 4em;
  width: 8em;
  margin: 2em 0em 1em 0em;
  background-color: rgb(247, 137, 241);
  border: none;
  font-family: 'Press Start 2p';
  font-size: 0.9em;
  color: #FFCCE7;
}